<h1>Listing up_files</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @up_files.each do |up_file| %>
  <tr>
    <td><%= up_file.name %></td>
    <td><%= link_to 'Show', up_file %></td>
    <td><%= link_to 'Edit', edit_up_file_path(up_file) %></td>
    <td><%= link_to 'Destroy', up_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Up file', new_up_file_path %>
